ul {
  list-style-type: none;
}
.myName {
  float: left;
  font-size: 6.5rem;
  padding-left: 4rem;
}
.icons {
  padding-top: 3rem;
  padding-left: 1rem;
  float: right;
}

.nav-info a {
  color: rgb(84, 84, 86);
  font-size: 2rem;
  text-decoration: none;
  padding-right: 3rem;
  float: left;
}
.nav-info a:hover {
  color: rgb(240, 106, 71);
}
body {
  font-size: 1.6rem;
  color: rgb(84, 84, 86);
}
#jumbotron {
  max-width: 100%;
  position: relative;
}
