ul {
  list-style-type: none;
}
header .btn {
  text-align: center;
}
.nav-main a {
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  float: left;
}
.nav-main a:hover {
    background-color: rgb(240,106,71);
    color: white;
}
.myName{
  float:left;
}
.nav-info a {
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  float: left;
}
.nav-info a:hover {
    background-color: rgb(240,106,71);
    color: white;
}
body {
  font-size: 16px;
  color: rgb(84, 84, 86);
}
main p {
text-align: justify;
}
#headshot {
  max-width: 100%;
}
#beach {
  max-width: 100%;
}
